* {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
        /* colors */
        --black: #1e1e1e;
        --black-10: rgba(0,0,0, 0.1);
        --red: #d91c22;
        --white: #FFFFFF;
        --white-20: rgba(255, 255, 255, 0.20);
        --gray: #999999;
}


html {
    margin: 0 auto;
}

body {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    background-color: var(--red);
}

h1,h2,h3{
    font-weight: 900;
}

h2 {
    font-size: 32px;
}

h3{
    font-size: 16px;
}

a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}

.h2Title {
    display:block;
    margin: 20px 0;
    color: var(--white);
}

.h2Title-b {
    display:block;
    margin: 20px 0;
    color: var(--black);
}


.h2Title::after, .h2Title-b::after {
    display:block;
    clear:both;
    content : "";
    position: relative;
    left    : 0;
    bottom  : 0;
    max-width:250px;
    height  : 1px;
    width   : 8%;  /* or 100px */
    border-bottom:3px solid var(--red);
    padding:4px 0px;
}

.container-grid{
    display: grid;
    max-width: 1440px;
    padding: 0 20px;
    grid-template-columns: 1.6fr 1fr;
    gap: 5px;
}

.matchContainer {
    padding: 10px 20px;
    background-color: var(--black);
    
}

.matchContainer-w {
    padding: 10px 20px;
    background-color: var(--white);
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

@media (max-width : 900px) {
    .container-grid{
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
        grid-template-columns: 1.6fr 1fr;
        gap: 5px;
    }

    .elementor-grid-item {
        display: flex;
        padding: 10px;
        gap: 10px;
        align-items: center;
        border: 1px solid var(--black-10);
    }
}